langchain
ipykernel
python-dotenv
langchain_groq
beautifulsoup4
langchain_community
langchain_ollama
chromadb
langchain_core
fastapi
uvicorn
langserve
sse_starlette 
pypdf
streamlit
faiss-cpu
arxiv
wikipedia